@tailwind base;
@tailwind components;
@tailwind utilities;

.fa {
  font-size: 12px !important;
}

.z-index-product-0 {
  z-index: -10;
}

.carousel .thumbs-wrapper {
  display: none;
}

.carousel .control-dots .dot {
  box-shadow: 1px 1px 2px rgb(203 196 25 / 90%) !important;
  background: #fff !important;
  width: 15px !important;
  height: 15px !important;
}
